{% extends "layout.html" %}
{% block title %}Blogs{% endblock %}
{% block base %}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(static/img/bg-img/38.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Latest Blog</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <div class="alime-blog-area section-padding-80-0 mb-70">
        <div class="container">
            <div class="row">

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/51.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Manga</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Top Ten Best manga of all time</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/52.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Manhwa</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Top Ten Best Manhwa of all time</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/53.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Manhua</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Top Ten Best Manhua of all time</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/54.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Anime</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="/single-blog" class="post-title">Jujutsu Kaisen Movie Post Credits Scene Explained</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/55.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Manga</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Who is Gon’s Mom in Hunter x Hunter?</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/56.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Anime</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Dragon Ball Super Returns: Anime Confirmed for 2023</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/57.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Manga</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Konosuba: An Explosion on This Wonderful World!: Release Confirmed!</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/58.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Anime</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">25 Best Anime with the best fight Scenes</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/59.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Anime</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">15 Best Anime For Beginners to Watch in 2022</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog Area End -->
{% endblock %}