{% extends "layout.html" %}
{% block title %}LOG IN{% endblock %}
{% block base %}
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(static/img/bg-img/38.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">LOG IN</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="static/exclusive//"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Log In</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb Area End -->

<link rel="stylesheet" href="static/exclusive/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/exclusive/css/font-awesome.min.css" />
<link rel="stylesheet" href="static/exclusive/css/slicknav.min.css" />
<link rel="stylesheet" href="static/exclusive/css/fresco.css" />
<link rel="stylesheet" href="static/exclusive/css/slick.css" />
<link rel="stylesheet" href="static/exclusive/css/style.css" />



<div class="container">
    <h1>Wellcome to Exclusives</h1>
</div>



<section class="hero__section">
    <div class="hero-slider">
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/1.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/1.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/2.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/2.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/3.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/3.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/4.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/4.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/5.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/5.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/6.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/6.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/7.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/7.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/8.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/8.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/9.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/9.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/10.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/10.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/11.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/11.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/12.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/12.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/13.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/13.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/14.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/14.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/15.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/15.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/16.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/16.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/17.png" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/17.png" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/18.png" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/18.png" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/19.png" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/19.png" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/20.jpg" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/20.jpg" alt="">
            </a>
        </div>
        <div class="slide-item">
            <a class="fresco" href="static/exclusive/img/hero-slider/21.png" data-fresco-group="projects">
                <img src="static/exclusive/img/hero-slider/21.png" alt="">
            </a>
        </div>
    </div>
    <div class="hero-text-slider">
        <div class="text-item">
            <h2>Star Rail</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/1.jpg" >Download</a>
        </div>
        <div class="text-item">
            <h2>JOJOOOO!!!</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/2.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Ghibli Cities</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/3.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Walk of Edgelords</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/4.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Progress Day</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/5.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Paradise Bus Stop</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/6.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Suspicions of Kira</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/7.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>L and Kira</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/8.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>The Final Push of Edward</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/9.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Fullmetal Alchemist</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/10.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Cowboy Bebop</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/11.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Gintama DRIP</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/12.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Gintoki Flex</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/13.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Black Butler</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/14.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Cool Cutout ver.</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/15.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Ship of Exiles</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/16.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>A Silent Voice</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/17.png">Download</a>
        </div>
        <div class="text-item">
            <h2>Cozy and Comfy</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/18.png">Download</a>
        </div>
        <div class="text-item">
            <h2>Final Fantasy</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/19.png">Download</a>
        </div>
        <div class="text-item">
            <h2>One Piece</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/20.jpg">Download</a>
        </div>
        <div class="text-item">
            <h2>Forest of Fireflies</h2>
            <a download="nature.jpg" href="static/exclusive/img/hero-slider/21.png">Download</a>
        </div>
    </div>
    </div>
</section>


<script src="static/exclusive/js/vendor/jquery-3.2.1.min.js"></script>
<script src="static/exclusive/js/jquery.slicknav.min.js"></script>
<script src="static/exclusive/js/slick.min.js"></script>
<script src="static/exclusive/js/fresco.min.js"></script>
<script src="static/exclusive/js/main.js"></script>

{% endblock %}