{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block base %}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area blog bg-img bg-overlay jarallax" style="background-image: url(static/img/bg-img/72.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <a href="#" class="btn post-catagory">Anime</a>
                        <h2 class="page-title">Jujutsu Kaisen Movie Post Credits Scene Explained</h2>
                        <div class="post-meta">
                            <a href="#" class="post-author">By Kevin Paul</a>
                            <a href="#" class="post-date">January 12, 2023</a>
                            <a href="#" class="post-comments">No Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Details Area Start -->
    <div class="alime--blog-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Blog Details Text -->
                    <div class="blog-details-text">
                        <p>The international release of Jujutsu Kaisen 0 has resulted in both commercial success and widespread acclaim from critics. Manga readers expected as much, I suppose.</p>

                        <p>SPOILERS AHEAD! This page contains spoilers from Jujutsu Kaisen</p>

                        <div class="my-5">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <img class="mb-10" src="static/img/bg-img/60.jpg" alt="">
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <img class="mb-10" src="static/img/bg-img/61.jpg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <img class="mb-10" src="static/img/bg-img/63.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <img class="mb-10" src="static/img/bg-img/62.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <p>What Happens in the Jujutsu Kaisen 0 Post Credit Scene?</p>

                        <p>The after-credits sequence takes place in Kenya, Africa, and follows Yuta and his (former) rival Miguel. The Old Mutual Tower, a distinctive feature of the Nairobi skyline, the savannah setting, and the presence of zebras and giraffes on screen after the credits all confirm that we are in Kenya.</p>

                        <p>The post-credits scene provides explicit teasers for episodes where Yuta is mentioned.</p>

                        <!-- Blockquote -->
                        <blockquote class="alime-blockquote">
                            <h4>Thank you for reading everything we copied from a random site, Have a nice day</h4>
                            <h6>- OMRcreators</h6>
                        </blockquote>

                        <p>The second opening sequence of the JJK anime features a cameo appearance from Yuta and Miguel. Both the opening and the end credit scenes feature them dressed similarly.</p>

                        <p>In the after-credits scene, Gojo probably approaches Yuta and Miguel to advise them to find more Black Rope. Perhaps Gojo anticipated a time when he would require such a thing.</p>
                    </div>

                    <!-- Post Author Area -->
                    <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
                        <ul class="popular-tags">
                            <li><a class="btn badges-btn" href="#">MANGA</a></li>
                            <li><a class="btn badges-btn" href="#">ANIME</a></li>
                            <li><a class="btn badges-btn" href="#">MOVIES</a></li>
                        </ul>

                        <!-- Share Info -->
                        <div class="post-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details Area End -->

    <!-- Pager Area Start -->
    <div class="alime-pager-area section-padding-0-80">
        <div class="container">
            <div class="row no-gutters">
                <!-- Previous -->
                <div class="col-6">
                    <div class="previous bg-img" style="background-image: url(static/img/bg-img/5.jpg);">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="#" class="post-title">Kimetsu no yaiba</a>
                            <a href="#" class="previous-link"><i class="arrow_left"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Next -->
                <div class="col-6">
                    <div class="next bg-img" style="background-image: url(static/img/bg-img/49.jpg);">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="#" class="post-title">Vietnam's largest art community</a>
                            <a href="#" class="next-link"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pager Area End -->

    <!-- Related News Area Start -->
    <div class="related-news-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Recommended For You</h2>
                    </div>
                </div>
            </div>

            <div class="row">
               <!-- Single Blog Area -->
               <div class="col-12 col-lg-6">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="static/img/bg-img/58.jpg" alt=""></a>
                    <!-- Post Catagory -->
                    <a href="#" class="btn post-catagory">Anime</a>
                    <!-- Post Conetent -->
                    <div class="post-content">
                        <div class="post-meta">
                            <a href="#">May 19, 2019</a>
                            <a href="#">3 Comment</a>
                        </div>
                        <a href="#" class="post-title">25 Best Anime with the best fight Scenes</a>
                    </div>
                </div>
            </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/57.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Manga</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Konosuba: An Explosion on This Wonderful World!: Release Confirmed!</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/54.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Camera</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Photo awards of the year</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="static/img/bg-img/55.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Manga</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Who is Gon’s Mom in Hunter x Hunter?</a>
                        </div>
                    </div>
                </div>

            <div class="border-top mt-5"></div>
        </div>
    </div>
    <!-- Related News Area End -->

{% endblock %}